ChinookWebClient/App_WebReferences/ChinookServiceRef/ChinookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ChinookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IChinookService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/ChinookHttpService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/ChinookHttpService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/ChinookHttpService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChinookWcfService" />
      <xsd:import schemaLocation="http://localhost:8090/ChinookHttpService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IChinookService_GetArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtists" />
  </wsdl:message>
  <wsdl:message name="IChinookService_GetArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsResponse" />
  </wsdl:message>
  <wsdl:message name="IChinookService_GetArtistsAlbums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsAlbums" />
  </wsdl:message>
  <wsdl:message name="IChinookService_GetArtistsAlbums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArtistsAlbumsResponse" />
  </wsdl:message>
  <wsdl:portType name="IChinookService">
    <wsdl:operation name="GetArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IChinookService/GetArtists" message="tns:IChinookService_GetArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChinookService/GetArtistsResponse" message="tns:IChinookService_GetArtists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArtistsAlbums">
      <wsdl:input wsaw:Action="http://tempuri.org/IChinookService/GetArtistsAlbums" message="tns:IChinookService_GetArtistsAlbums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IChinookService/GetArtistsAlbumsResponse" message="tns:IChinookService_GetArtistsAlbums_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IChinookService" type="tns:IChinookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArtists">
      <soap:operation soapAction="http://tempuri.org/IChinookService/GetArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistsAlbums">
      <soap:operation soapAction="http://tempuri.org/IChinookService/GetArtistsAlbums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChinookService" type="tns:IChinookService">
    <wsp:PolicyReference URI="#NetTcpBinding_IChinookService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetArtists">
      <soap12:operation soapAction="http://tempuri.org/IChinookService/GetArtists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArtistsAlbums">
      <soap12:operation soapAction="http://tempuri.org/IChinookService/GetArtistsAlbums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChinookService">
    <wsdl:port name="BasicHttpBinding_IChinookService" binding="tns:BasicHttpBinding_IChinookService">
      <soap:address location="http://localhost:8090/ChinookHttpService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChinookService" binding="tns:NetTcpBinding_IChinookService">
      <soap12:address location="net.tcp://localhost:8080/ChinookHttpService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/ChinookHttpService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>developer-pc\developer</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>