ChinookWebClient/App_WebReferences/ChinookServiceRef/ChinookHttpService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/ChinookHttpService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ChinookWcfService" />
  <xs:element name="GetArtists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ChinookWcfService" minOccurs="0" name="GetArtistsResult" nillable="true" type="q1:ArrayOfArtistDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistsAlbums">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistsAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ChinookWcfService" minOccurs="0" name="GetArtistsAlbumsResult" nillable="true" type="q2:ArrayOfArtistAlbums" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>